@font-face {
  font-family: "Helvetica Neue";
  src: url("https://html.ink.kg/fonts/HelveticaNeueCyr-Roman.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://cdn.imgchest.com/files/84apc38zx4l.png");
  background-repeat: no-repeat;
  max-width: 1002px;
  min-height: 1026px;
  font-size: 2rem;
  opacity: 0.5;
  color: blue;
}

.container {
  display: grid;
  grid-template-rows:
    minmax(25.1px, auto) minmax(100px, auto) minmax(207px, auto)
    minmax(124px, auto) minmax(51px, auto) minmax(512px, auto);
  grid-template-columns: minmax(20px, 215px) minmax(20px, 565px) minmax(
      20px,
      222px
    );
  grid-template-areas:
    "one one one"
    "two seven seven"
    "three four eight"
    "three four nine"
    "three five five"
    "six five five";
}

.container > * {
  border: 2px dashed blue;
}

.box1 {
  grid-area: one;
}

.box2 {
  grid-area: two;
}

.box3 {
  grid-area: three;
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 12px;
  font-weight: 700;
  font-family: "Helvetica Neue";
  width: 100%;
  color: #3d8602;
  justify-content: flex-start;
}

.box4 {
  grid-area: four;
}

.box5 {
  grid-area: five;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.box6 {
  grid-area: six;
}

.box7 {
  grid-area: seven;
}

.box8 {
  grid-area: eight;
}

.box9 {
  grid-area: nine;
}

.title {
  display: flex;
  background: #448511;
  color: #fff;
  font-size: 12px;
  font-weight: 700px;
  padding: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 12px;
}

.bodypart {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  padding-top: 0px;
}

.box3 ul {
  padding: 8px;
  gap: 20px;
  padding-left: 15px;
  padding-right: 1px;
}
.box2 img {
  max-width: 158px;
  margin-top: 18px;
  margin-left: 35px;
}

/* Media Query for screen width of 500px or less */
@media screen and (max-width: 500px) {
  .container {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine";
  }
}
.box5 ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
.box5 img {
  padding-top: 10px;
}
.box5 ul > * {
  flex-basis: 190px;
  text-align: center;
}
.product-photo img {
  max-height: 100px;
  max-width: 175px;
  padding: 0 !important;
  border: 0;
  height: 100px;
}
.border-image img {
  display: flex;
  width: 180px;
  margin: 0 auto;
}
.origin {
  color: #565656;
  font-weight: 400;
  text-decoration: line-through;
  font-size: 12px;
}
.sale {
  color: #e67b10;
  font-size: 13px;
  font-weight: 700;
}
.buy-bottom {
  clear: left;
  color: #777;
  font-size: 11px;
  text-decoration: none;
}
.loan {
  clear: left;
  color: #777;
  font-size: 11px;
  text-decoration: none;
}
.model {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #3d8602;
  background-color: #fff;
  text-decoration: underline;
}
.nd-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #3d8602;
  background-color: #fff;
  text-decoration: underline;
}
.New-Arrivals {
  background: #448511;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 1px 12px;
  padding-right: 700px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.product-photo2 img {
  max-height: 100px;
  max-width: 175px;
  padding: 0 !important;
  vertical-align: middle;
  border: 0;
  height: 100px;
}
.product-photo3 img {
  max-height: 100px;
  max-width: 175px;
  padding: 0 !important;
  vertical-align: middle;
  border: 0;
  height: 100px;
}
.product-photo4 img {
  max-height: 100px;
  max-width: 175px;
  padding: 0 !important;
  vertical-align: middle;
  border: 0;
  height: 100px;
}
.price {
  color: #e67b10;
  font-size: 13px;
  font-weight: 700;
}
