body {
  font-family: Tahoma;
}
#header {
  background-color: dimgray;
  height: 5rem;
  font-size: 1.5rem;
  color: white;
}
#header {
  border-bottom: 2.5rem Solid lightseagreen;
}
#title {
  height: 35rem;
  background-color: lightgray;
  text-align: center;
}
* {
  margin: 0;
}
#about {
  display: flex;
}
#about img {
  height: 19rem;
}
h3 {
  color: lightsteelblue;
  width: 20rem;
  margin: 0 auto;
  padding-top: 0.5rem;
  text-align: center;
}
#fav {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  font-size: 1.5rem;
  color: white;
}
